.navbar-search{
  width: 20rem;
  float: right;
}

.brand-logo{
  margin-left: 1rem;
}

.search-fab{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.loader{
  position: fixed;
  text-align: center;
  background-color: white;
  width: 100%;
  height : 100%;
}

.loader-content{
  position: fixed;
  top: 48%;
  left: 48%;
}

.error-info{
  position: fixed;
  text-align: center;
  background-color: white;
  width: 100%;
  height : 100%;
}

.error-info-content{
  vertical-align: middle;
}

.error-icon{
  font-size: 5rem;
}

.grid-header{
  margin : 2rem;
}

.custom-card-col{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.custom-card{
  border-radius: 15%;
  width: 220px;
  height: 220px;
  margin: auto;
}

.custom-card-content{
  border-radius: inherit;
  width: inherit;
  height: inherit;
  background-size: cover;
}

.custom-card-info{
  margin-top: 1rem;
  text-align: center;
}

.custom-card-overlay{
  position: absolute;
  bottom: 0;
}

.custom-card-content:hover{
  cursor: pointer;
}

.hover{
  cursor: pointer;
}

.push-up-20{
  margin-top: -2rem;
}

.artist-card{
  margin: 10px;
  color: rgba(0,0,0,0.87);
}

.artist-card-image{
  width: 300px;
  height: 220px;
  background-position: center;
  background-size: cover;
}

.padding-10{
  padding: 10px;
}

.artist-profile-container{
  padding: 1rem;
  padding-top: 2rem;
}

.artist-image{
  min-height: 200px !important;
  background-position: center;
  background-size: cover;
  border-radius: 2%;
}

.gap{
  min-width: 2rem;
}

.modal{
  min-height: 200px;
}

.icon-text{
  bottom: 6px;
  position: relative;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #424242; 
}